<html>
  <head>
    <title> Colors Website </title>
  </head>

  <body>
    <div>
      <a href = "/index">Home</a>
      <a href = "/colors">Colors</a>
      <a href = "/create_account">Create Account</a>

      {% if g.user.is_authenticated() %}
          <a href = "{{ url_for('logout') }}" style="float:right">Log Out</a>
          <center>Logged in as {{ g.user.username }} </center>
      {% else %} 
          <a href="{{ url_for('login') }}" style="float:right">Log In</a>
      {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>
