{% extends "base.html" %}
{% block content %}

<head>
  <title> Colors </title>
</head>

<body>
  <center>
    <h1> Colors </h1>
  </center>
  <h2> The following colors are available: </h2>
    {% for color in colors %}
      <h3> <font color="{{ color.color_font }}"> {{ color.color_name }} </h3>
    {% endfor %}

  {% if user_color %}
    <h2> <font color="black">Your color is:</font> <a href = "{{ url_for(user_color) }}" style = "color:{{ user_color_font }}">{{ user_color }}</a>
  {% else %}
    <h2> <font color="black">Create an account to join one of the teams!</font> </h2>
  {% endif %}

</body>
{% endblock %}
