
{% extends "base.html" %}
{% block content %}

<head></head>

<body>
    <form name="create_account" method='POST'>
    	{{ form.username.label }} {{ form.username }}

    	{% for error in form.username.errors %}
           <span style="color:red">{{error}}</span> <br>
        {% endfor %} <br>

	    {{ form.email.label }} {{ form.email }}

	    {% for error in form.email.errors %}
           <span style="color:red">{{error}}</span> <br>
        {% endfor %} <br>

        {{ form.password.label }} {{ form.password }}
        {% for error in form.password.errors %}
           <span style="color:red">{{error}}</span> <br>
        {% endfor %} <br>
        {{ form.confirm.label }} {{ form.confirm }} <br>

        {{ form.color.label }} {{ form.color }} <br>

        
        <input type=submit value="Create your account!" name="submit_button"><br>
    </form>
</body>

{% endblock %}
